/* Responsive sidebar width and font size */
/* Sidebar: dark grayish gradient */
/* Sidebar: darker grayish gradient */
.sidebar {
  height: calc(100% - 50px);
  width: 100%;
  max-width: 220px;
  min-width: 80px;
  min-height: 0;
  background: var(--bg-ui-elements);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  grid-row: 2;
  grid-column: 1;
  border-right: var(--border-width) solid var(--border-color);
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  transition: transform var(--transition-fast);
  z-index: 100;
}
.open {
  transform: translateX(0);
}
.closed {
  transform: translateX(-220px);
}
.btn-open {
  transform: translateX(220px);
}
.btn-closed {
  transform: translateX(0px);
}
.sidebar-menu-btn-wrapper {
  transition: transform var(--transition-fast);
  background: var(--bg-ui-elements);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 50px;
  top: 50px;
  z-index: 10;
}
.sidebar-menu-btn {
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 2rem;
  cursor: pointer;
  width: 40px;
  height: 50px;
  transition: color 0.2s;
  position: relative;
}
.sidebar-title {
  color: var(--text-color);
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}
.sidebar nav li {
  margin-bottom: 5px;
}
.sidebar nav button {
  width: 100%;
  text-align: start;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  cursor: pointer;
  padding: 0.5rem 1rem;
  padding-left: 1.5rem;
  border-radius: 0px;
  transition:
    color var(--transition-fast),
    background var(--transition-fast);
  word-break: break-word;
}

@media (max-width: 600px) {
  .sidebar nav button {
    font-size: clamp(0.6rem, 1vw, 0.9rem);
    padding: 0.3rem 0.5rem;
    padding-left: 1rem;
  }
}
.sidebar nav button.active,
.sidebar nav button:hover {
  background: #444;
  color: var(--color-primary-bright);
}
